PORT=3000
MONGODB_USER=cemrdeniz
MONGODB_PASSWORD=BWsVeOtn8mTdY1AX
MONGODB_URL=cluster0.9uzbta4.mongodb.net
MONGODB_DB=testdb
ACCESS_TOKEN_SECRET=7nK8wT9mZpQsXy4Hf2RvJeCbDaL6UoGi
REFRESH_TOKEN_SECRET=X5rFqW2LaV9hMs3PkOdEjBzCT1yNBvUY
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=97c90e003@smtp-brevo.com
SMTP_PASSWORD=WDthzCRMJKdpL1sE
SMTP_FROM=97c90e003@smtp-brevo.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth
CLOUDINARY_NAME=dcdrxiqhx
CLOUDINARY_API_KEY=813291484452669
CLOUDINARY_API_SECRET=12J1jRqgwR3kBhGWNg3MbzTs6iE